@import url("https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&family=Poppins:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nerko+One&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Poppins", sans-serif;
}
/* Navbar.jsx */
@layer utilities {
  .nav-link::after {
    @apply content-[''] bg-blue-500 h-[3px] w-[0%] duration-300 left-0 rounded-xl bottom-[-5px] absolute;
  }
  .nav-link:hover::after {
    @apply w-[100%];
  }
}

.slick-arrow::before {
  color: red;
  font-size: 50px;
}

.footer-text {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
}

.animation {
  animation: profile_animate 8s ease-in-out infinite 1s;
  box-shadow: 0px 2px 2px 2px #796e6e;
}

@keyframes profile_animate {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }

  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }

  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}
